{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkoout</h1>
            <p class="lead fw-normal text-white-50 mb-0">Review Your Order....</p>
        </div>
    </div>
</header>
<br/>
<div class = "container">
    <div class = 'row'>
        <div class = "col-md-5 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Order Summary
                </div>
            <div class="card-body">
                {% for name,price,quantity,total in products %}
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-grow-1">
                                {{ name }}
                            </div>
                            <div class="col-1 text-center fs-4 fw-bold">
                                -
                            </div>
                            <div class="text-end" style="min-width: 160px;">
                                ₹{{ price }} × {{ quantity }} = ₹{{ total }}
                            </div>
                        </div>
                {% endfor %}
                <br/><br/>
               <center> 
                    <h5>Total   -  ₹{{overall}}</h5>
                    <br>
                    <a href="{% url  'cart-summary' %}" class="btn btn-primary">Update Item</a> 
                </center>
            </div>
            </div>
            <br/><br/>
                <br/><br/>
                <strong>Delivery Information</strong>
                <br/><br/>
                <form method='POST' action='{% url 'billing_info' %}'>
                    {% csrf_token %}
                    {{ form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-secondary">
                Next page
                </button>
            </form>
            <br/><br/>
        </div>
    </div>
</div>
{% endblock %}
